batteryOptimizationExample.json
[{"id":"cd9dc0e3193f2e03","type":"tab","label":"BatteryUsageOptimizationExample","disabled":false,"info":"","env":[]},{"id":"d828cc95360f4c45","type":"inject","z":"cd9dc0e3193f2e03","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"pvForecast","payloadType":"flow","x":170,"y":180,"wires":[["69602ecf457ecfc8"]]},{"id":"00b09473d8685ebd","type":"comment","z":"cd9dc0e3193f2e03","name":"erwarteter Solarertrag","info":"","x":220,"y":140,"wires":[]},{"id":"e063e5af6110505f","type":"inject","z":"cd9dc0e3193f2e03","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"05 00 * * *","once":true,"onceDelay":"10","topic":"","x":130,"y":80,"wires":[["bbae2bf77e5df7f4"]]},{"id":"4e640ae19780edc2","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":880,"y":80,"wires":[]},{"id":"4f406597326ac519","type":"change","z":"cd9dc0e3193f2e03","name":"speichern","rules":[{"t":"set","p":"pvForecast","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"pvforecast_now","pt":"flow","to":"payload.pvforecast_now","tot":"msg"},{"t":"set","p":"pvforecast_today","pt":"flow","to":"payload.pvforecast_today","tot":"msg"},{"t":"set","p":"pvforecast_tomorrow","pt":"flow","to":"payload.pvforecast_tomorrow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":80,"wires":[["4e640ae19780edc2"]]},{"id":"657e7d78f98ea24b","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":880,"y":180,"wires":[]},{"id":"62d508aeb1f7efab","type":"change","z":"cd9dc0e3193f2e03","name":"speichern","rules":[{"t":"set","p":"pvforecast_remain","pt":"flow","to":"payload.pvforecast_remain","tot":"msg"},{"t":"set","p":"pvforecast_today","pt":"flow","to":"payload.pvforecast_today","tot":"msg"},{"t":"set","p":"pvforecast_tomorrow","pt":"flow","to":"payload.pvforecast_tomorrow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":180,"wires":[["657e7d78f98ea24b"]]},{"id":"9742c76cebbfb222","type":"comment","z":"cd9dc0e3193f2e03","name":"Abruf des erwarten Solarertrags","info":"","x":250,"y":40,"wires":[]},{"id":"06478e77d6131403","type":"comment","z":"cd9dc0e3193f2e03","name":"Abruf des erwarten Strompreises (Fraunhofer ISE)","info":"","x":310,"y":280,"wires":[]},{"id":"a828d51d3b373f2b","type":"inject","z":"cd9dc0e3193f2e03","name":"","props":[{"p":"topic","vt":"str"},{"p":"charges","v":"12.945","vt":"num"},{"p":"tax","v":"19","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","x":130,"y":320,"wires":[["3127cb8de95cd5ca"]]},{"id":"b7c21f4c0d694786","type":"change","z":"cd9dc0e3193f2e03","name":"speichern","rules":[{"t":"set","p":"gridPrices","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":320,"wires":[["8716ef41c51f5cc8"]]},{"id":"8716ef41c51f5cc8","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":880,"y":320,"wires":[]},{"id":"bc7751ab9b712009","type":"comment","z":"cd9dc0e3193f2e03","name":"Abruf des erwarten Strompreises (evcc)","info":"","x":270,"y":380,"wires":[]},{"id":"9b9289568196ac1c","type":"inject","z":"cd9dc0e3193f2e03","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"10","topic":"","x":130,"y":420,"wires":[["0319aaa02c87f4e9"]]},{"id":"1d6ff2c5c998aba7","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":880,"y":420,"wires":[]},{"id":"9786fbf15b1cebd4","type":"change","z":"cd9dc0e3193f2e03","name":"speichern","rules":[{"t":"set","p":"gridPrices","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":420,"wires":[["1d6ff2c5c998aba7"]]},{"id":"cc3635dd544a1dc1","type":"inject","z":"cd9dc0e3193f2e03","name":"","props":[{"p":"topic","vt":"str"},{"p":"profile","v":"[0.4,0.4,0.4,0.4,0.4,0.4,1,1,0.4,0.4,0.4,0.4,1,1,0.4,0.4,0.4,1,1,1,1,1,0.4,0.4]","vt":"jsonata"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"20","topic":"","x":130,"y":560,"wires":[["db9c00f61794fc54"]]},{"id":"217976be437efae6","type":"change","z":"cd9dc0e3193f2e03","name":"speichern","rules":[{"t":"set","p":"household","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":560,"wires":[["49ef78ea7b74b6ca"]]},{"id":"49ef78ea7b74b6ca","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":880,"y":560,"wires":[]},{"id":"8f03b68bbf2e9574","type":"comment","z":"cd9dc0e3193f2e03","name":"Berechnung der benötigen Energie (Stromverbrauch)","info":"","x":310,"y":520,"wires":[]},{"id":"abb3f3ac8916d559","type":"comment","z":"cd9dc0e3193f2e03","name":"Auswertung des heutigen Steuerungsmodus","info":"","x":290,"y":640,"wires":[]},{"id":"e9acb2f006d925f8","type":"comment","z":"cd9dc0e3193f2e03","name":"Berechnung des aktuellen Batteriemodus, stündlich","info":"","x":310,"y":760,"wires":[]},{"id":"418896f9ac224aa1","type":"comment","z":"cd9dc0e3193f2e03","name":"Berechnung des aktuellen Batteriemodus, watchdog-Intervall","info":"","x":340,"y":880,"wires":[]},{"id":"e428a5bc437feca2","type":"inject","z":"cd9dc0e3193f2e03","name":"","props":[{"p":"average","v":"gridPrices.average","vt":"flow"},{"p":"diff","v":"gridPrices.diff","vt":"flow"},{"p":"deviation","v":"gridPrices.deviation","vt":"flow"},{"p":"pvforecast","v":"pvForecast.today","vt":"flow"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"10 00 * * *","once":true,"onceDelay":"20","topic":"","x":130,"y":680,"wires":[["32dcd5f264915cc2"]]},{"id":"2a20e598db29cc39","type":"inject","z":"cd9dc0e3193f2e03","name":"","props":[{"p":"topic","vt":"str"},{"p":"optimize","v":"control.optimize","vt":"flow"},{"p":"enableGridcharge","v":"control.gridcharge","vt":"flow"},{"p":"batterymode","v":"batterymode","vt":"flow"},{"p":"soc","v":"evcc.batterySoc","vt":"flow"},{"p":"minimum","v":"gridPrices.minimum","vt":"flow"},{"p":"price","v":"evcc.tariffGrid","vt":"flow"},{"p":"pvforecast","v":"pvForecast.today","vt":"flow"},{"p":"lastGridchargePrice","v":"lastGridchargePrice","vt":"flow"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"30","topic":"","x":130,"y":800,"wires":[["90069f15cec585d3"]]},{"id":"3da7fdf4e8e372e4","type":"inject","z":"cd9dc0e3193f2e03","name":"","props":[{"p":"optimize","v":"control.optimize","vt":"flow"},{"p":"batterymode","v":"batterymode","vt":"flow"},{"p":"evccBatteryMode","v":"evcc.batteryMode","vt":"flow"},{"p":"actualsoc","v":"evcc.batterySoc","vt":"flow"},{"p":"minsoc","v":"20","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"60","topic":"","x":130,"y":940,"wires":[["a8e1208a697baf0a"]]},{"id":"dcf58549ea1eea09","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":880,"y":680,"wires":[]},{"id":"86a20d6230cc9b5b","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":880,"y":740,"wires":[]},{"id":"f1909c82699d0831","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":880,"y":800,"wires":[]},{"id":"d7a8430bb0f242d7","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":880,"y":920,"wires":[]},{"id":"96fc5504a6b2e415","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":880,"y":980,"wires":[]},{"id":"8067f82adefbf68b","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":880,"y":1040,"wires":[]},{"id":"0f7c08aaca6ef252","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":880,"y":1100,"wires":[]},{"id":"5d4e9c0d101552dd","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":860,"wires":[]},{"id":"e5900435c808c8e0","type":"change","z":"cd9dc0e3193f2e03","name":"speichern","rules":[{"t":"set","p":"control","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":680,"wires":[["dcf58549ea1eea09"]]},{"id":"11f603b1c5db6eca","type":"change","z":"cd9dc0e3193f2e03","name":"speichern","rules":[{"t":"set","p":"batterymode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":740,"wires":[["86a20d6230cc9b5b"]]},{"id":"4d8c6cdae78da54c","type":"change","z":"cd9dc0e3193f2e03","name":"speichern","rules":[{"t":"set","p":"lastGridchargePrice","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":800,"wires":[["f1909c82699d0831"]]},{"id":"99793a19973b61b6","type":"comment","z":"cd9dc0e3193f2e03","name":"Abruf der aktuellen Leistungsdaten (evcc)","info":"","x":280,"y":1160,"wires":[]},{"id":"d197f5dbb546bc56","type":"inject","z":"cd9dc0e3193f2e03","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":130,"y":1200,"wires":[["d145172187cf635a"]]},{"id":"40ba76623a8741b5","type":"debug","z":"cd9dc0e3193f2e03","name":"Ergebnis","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":880,"y":1200,"wires":[]},{"id":"2280166f9af1cf73","type":"change","z":"cd9dc0e3193f2e03","name":"speichern","rules":[{"t":"set","p":"evcc","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1200,"wires":[["40ba76623a8741b5"]]},{"id":"167d584a6c709594","type":"change","z":"cd9dc0e3193f2e03","name":"speichern","rules":[{"t":"set","p":"setBatterySoc","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":920,"wires":[["d7a8430bb0f242d7"]]},{"id":"6e9eb3a408218377","type":"change","z":"cd9dc0e3193f2e03","name":"speichern","rules":[{"t":"set","p":"setBatteryMode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":960,"wires":[["96fc5504a6b2e415"]]},{"id":"d41095de37554de3","type":"change","z":"cd9dc0e3193f2e03","name":"speichern","rules":[{"t":"set","p":"setGridChargePrice","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1000,"wires":[["8067f82adefbf68b"]]},{"id":"bbae2bf77e5df7f4","type":"@iseeberg79/EvaluateSolarForecast","z":"cd9dc0e3193f2e03","name":"","rooftopid":"","token":"","x":390,"y":80,"wires":[["4f406597326ac519"]]},{"id":"69602ecf457ecfc8","type":"@iseeberg79/EstimateSolarEnergy","z":"cd9dc0e3193f2e03","name":"","x":380,"y":180,"wires":[["62d508aeb1f7efab"]]},{"id":"3127cb8de95cd5ca","type":"@iseeberg79/EvaluateGridEnergyPrices","z":"cd9dc0e3193f2e03","name":"","bzn":"DE-LU","url":"https://api.energy-charts.info/price","x":400,"y":320,"wires":[["b7c21f4c0d694786"]]},{"id":"0319aaa02c87f4e9","type":"@iseeberg79/EvaluateGridEnergyPricesAPI","z":"cd9dc0e3193f2e03","name":"","url":"http://localhost:7070/api/tariff/grid","x":410,"y":420,"wires":[["9786fbf15b1cebd4"]]},{"id":"db9c00f61794fc54","type":"@iseeberg79/EstimateHouseholdConsumption","z":"cd9dc0e3193f2e03","name":"","x":420,"y":560,"wires":[["217976be437efae6"]]},{"id":"32dcd5f264915cc2","type":"@iseeberg79/DetermineControlMode","z":"cd9dc0e3193f2e03","name":"","minPvRequired":16000,"minPriceDeviation":6,"minPriceDifference":15,"priceLimit":0.35,"avg":0.24,"x":390,"y":680,"wires":[["e5900435c808c8e0"]]},{"id":"90069f15cec585d3","type":"@iseeberg79/DetermineBatteryMode","z":"cd9dc0e3193f2e03","name":"","enableGridchargeThreshold":50,"disableGridchargeThreshold":80,"batteryCapacity":10000,"minsoc":10,"maxsoc":90,"efficiency":80,"x":390,"y":800,"wires":[["11f603b1c5db6eca"],["4d8c6cdae78da54c"],["5d4e9c0d101552dd"]]},{"id":"a8e1208a697baf0a","type":"@iseeberg79/ControlBattery","z":"cd9dc0e3193f2e03","name":"","configuredMinSoC":5,"maximumGridprice":0.35,"configuredBatteryLock":false,"x":360,"y":940,"wires":[["167d584a6c709594"],["6e9eb3a408218377"],["d41095de37554de3"],["0f7c08aaca6ef252"]]},{"id":"d145172187cf635a","type":"@iseeberg79/DeterminePowerValues","z":"cd9dc0e3193f2e03","name":"","url":"http://localhost:7070/api/state","x":390,"y":1200,"wires":[["2280166f9af1cf73"]]}]