examples/batteryOptimizationExample.json
[
    {
        "id": "ec1d395861064d7f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53e2a6db5810145a",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "payload": "pvForecast1",
        "payloadType": "global",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "fbf644e9c08d4914"
            ]
        ]
    },
    {
        "id": "d6bf1a495dd6f026",
        "type": "comment",
        "z": "ec1d395861064d7f",
        "name": "erwarteter Solarertrag zweier PV Anlagen - stündlich",
        "info": "",
        "x": 290,
        "y": 240,
        "wires": []
    },
    {
        "id": "34746799d5a10261",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "e594e759c085e00b",
                "7560963e91850164"
            ]
        ]
    },
    {
        "id": "306e7ccdb97ebcec",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "9ee2ab254e30dffe",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "pvForecast1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "pvForecast1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "306e7ccdb97ebcec",
                "58cd324f4e333c0a"
            ]
        ]
    },
    {
        "id": "c0b4817d7edba1b3",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "f7a57ba9ea0f2101",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "pvForecast1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 280,
        "wires": [
            [
                "c0b4817d7edba1b3",
                "58cd324f4e333c0a"
            ]
        ]
    },
    {
        "id": "397378f25cda559f",
        "type": "comment",
        "z": "ec1d395861064d7f",
        "name": "Abruf des erwarten Solarertrags von zwei PV Anlagen - täglich",
        "info": "",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "c7d5eca76779dd32",
        "type": "comment",
        "z": "ec1d395861064d7f",
        "name": "Abruf des erwarten Strompreises (Fraunhofer ISE)",
        "info": "",
        "x": 290,
        "y": 360,
        "wires": []
    },
    {
        "id": "5be548095786633b",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "charges",
                "v": "12.945",
                "vt": "num"
            },
            {
                "p": "tax",
                "v": "19",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "5234a24bc61cc724"
            ]
        ]
    },
    {
        "id": "d908f798e42944fb",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "gridPrices",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "energy.priceData",
                "pt": "global",
                "to": "gridPrices.prices",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 400,
        "wires": [
            [
                "3816e596e3bf2a58"
            ]
        ]
    },
    {
        "id": "3816e596e3bf2a58",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 860,
        "y": 400,
        "wires": []
    },
    {
        "id": "9d5f6b2831254abe",
        "type": "comment",
        "z": "ec1d395861064d7f",
        "name": "Abruf des erwarten Strompreises (evcc)",
        "info": "",
        "x": 250,
        "y": 460,
        "wires": []
    },
    {
        "id": "619f1468d1e2ca2e",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "0b20e06a17ba2313"
            ]
        ]
    },
    {
        "id": "bcbafbf86dd3bdd4",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 860,
        "y": 500,
        "wires": []
    },
    {
        "id": "f78ba4dee6dcd2b7",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "gridPrices",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "energy.priceData",
                "pt": "global",
                "to": "gridPrices.prices",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 500,
        "wires": [
            [
                "bcbafbf86dd3bdd4"
            ]
        ]
    },
    {
        "id": "f1ed8d6e45d13ca3",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "profile",
                "v": "[0.4,0.4,0.4,0.4,0.4,0.4,1,1,0.4,0.4,0.4,0.4,1,1,0.4,0.4,0.4,1,1,1,1,1,0.4,0.4]",
                "vt": "jsonata"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "e01e4d7655508ff5"
            ]
        ]
    },
    {
        "id": "3ca363df5cec6a9a",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "household",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "energy.household",
                "pt": "global",
                "to": "household.profile",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 600,
        "wires": [
            [
                "e88fea866c7d8049"
            ]
        ]
    },
    {
        "id": "e88fea866c7d8049",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 860,
        "y": 600,
        "wires": []
    },
    {
        "id": "ebf9ada825d379d3",
        "type": "comment",
        "z": "ec1d395861064d7f",
        "name": "Berechnung der benötigen Energie (Stromverbrauch)",
        "info": "",
        "x": 290,
        "y": 560,
        "wires": []
    },
    {
        "id": "878be5e4426712c0",
        "type": "comment",
        "z": "ec1d395861064d7f",
        "name": "Auswertung des heutigen Steuerungsmodus (1-2x täglich)",
        "info": "",
        "x": 310,
        "y": 660,
        "wires": []
    },
    {
        "id": "453f8c1a8a58f461",
        "type": "comment",
        "z": "ec1d395861064d7f",
        "name": "Berechnung des aktuellen Batteriemodus, 5-minütlich",
        "info": "",
        "x": 300,
        "y": 800,
        "wires": []
    },
    {
        "id": "2fed352598674983",
        "type": "comment",
        "z": "ec1d395861064d7f",
        "name": "Berechnung des aktuellen Batteriemodus, watchdog-Intervall",
        "info": "",
        "x": 320,
        "y": 920,
        "wires": []
    },
    {
        "id": "30105ce2d52ab699",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "Mitternacht",
        "props": [
            {
                "p": "average",
                "v": "gridPrices.average",
                "vt": "flow"
            },
            {
                "p": "diff",
                "v": "gridPrices.diff",
                "vt": "flow"
            },
            {
                "p": "deviation",
                "v": "gridPrices.deviation",
                "vt": "flow"
            },
            {
                "p": "pvforecast",
                "v": "pvForecast.today",
                "vt": "flow"
            },
            {
                "p": "avgWeekly",
                "v": "avgGridPriceWeekly",
                "vt": "flow"
            },
            {
                "p": "priceLimit",
                "v": "lastGridChargePrice",
                "vt": "flow"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "10 00 * * *",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "2ef70dc2ccc8c99c"
            ]
        ]
    },
    {
        "id": "dc935091ad7d894b",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "optimize",
                "v": "control.optimize",
                "vt": "flow"
            },
            {
                "p": "optimize",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "enableGridcharge",
                "v": "control.gridcharge",
                "vt": "flow"
            },
            {
                "p": "enableGridcharge",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "batterymode",
                "v": "batterymode",
                "vt": "flow"
            },
            {
                "p": "soc",
                "v": "evcc.batterySoc",
                "vt": "flow"
            },
            {
                "p": "minimum",
                "v": "gridPrices.minimum",
                "vt": "flow"
            },
            {
                "p": "price",
                "v": "evcc.tariffGrid",
                "vt": "flow"
            },
            {
                "p": "pvforecast",
                "v": "pvForecast.remain",
                "vt": "flow"
            },
            {
                "p": "lastGridchargePrice",
                "v": "lastGridchargePrice",
                "vt": "flow"
            },
            {
                "p": "average",
                "v": "gridPrices.average",
                "vt": "flow"
            },
            {
                "p": "avgGridPriceWeekly",
                "v": "avgGridPriceWeekly",
                "vt": "flow"
            },
            {
                "p": "estimator",
                "v": "estimator",
                "vt": "flow"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "40",
        "topic": "",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "5c0a2ccb59ef0f7f"
            ]
        ]
    },
    {
        "id": "0a3f04a3f1d89239",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "",
        "props": [
            {
                "p": "optimize",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "batterymode",
                "v": "batterymode",
                "vt": "flow"
            },
            {
                "p": "evccBatteryMode",
                "v": "evcc.batteryMode",
                "vt": "flow"
            },
            {
                "p": "actualsoc",
                "v": "evcc.batterySoc",
                "vt": "flow"
            },
            {
                "p": "minsoc",
                "v": "minsoc",
                "vt": "flow"
            },
            {
                "p": "price",
                "v": "0.2895",
                "vt": "num"
            },
            {
                "p": "price",
                "v": "evcc.tariffGrid",
                "vt": "flow"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "x": 110,
        "y": 980,
        "wires": [
            [
                "fe2e1d65dec418f4"
            ]
        ]
    },
    {
        "id": "561bc6f25bc8a5cc",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 860,
        "y": 700,
        "wires": []
    },
    {
        "id": "b15e3f6244c16be5",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 860,
        "y": 780,
        "wires": []
    },
    {
        "id": "6ae44d0b1b4e56da",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 860,
        "y": 840,
        "wires": []
    },
    {
        "id": "0f42f6e8e0b1a4b5",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 860,
        "y": 960,
        "wires": []
    },
    {
        "id": "57139274fa39890d",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 860,
        "y": 1020,
        "wires": []
    },
    {
        "id": "55eefafcbf61d1ac",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 860,
        "y": 1080,
        "wires": []
    },
    {
        "id": "43507a25391454e7",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 860,
        "y": 1140,
        "wires": []
    },
    {
        "id": "185d656bbdbe5ce8",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 900,
        "wires": []
    },
    {
        "id": "c4a5c0cda359e825",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "control",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 700,
        "wires": [
            [
                "561bc6f25bc8a5cc"
            ]
        ]
    },
    {
        "id": "cbd697b9f5894bb9",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "batterymode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 780,
        "wires": [
            [
                "b15e3f6244c16be5"
            ]
        ]
    },
    {
        "id": "bd0d8817f7ed08fc",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "lastGridchargePrice",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 840,
        "wires": [
            [
                "6ae44d0b1b4e56da"
            ]
        ]
    },
    {
        "id": "12b15e676b5cfb27",
        "type": "comment",
        "z": "ec1d395861064d7f",
        "name": "Abruf der aktuellen Leistungsdaten (evcc)",
        "info": "",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "801a2868ee0aca5c",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "86a211820c2d1f10"
            ]
        ]
    },
    {
        "id": "3fba26566b297694",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "2c343359261abd9f",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "evcc",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "energy.soc",
                "pt": "global",
                "to": "evcc.batterySoc",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 100,
        "wires": [
            [
                "3fba26566b297694"
            ]
        ]
    },
    {
        "id": "cca1ee52a50453ce",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "setBatterySoc",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 960,
        "wires": [
            [
                "0f42f6e8e0b1a4b5"
            ]
        ]
    },
    {
        "id": "fc63df2a739b4d48",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "setBatteryMode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1000,
        "wires": [
            [
                "57139274fa39890d"
            ]
        ]
    },
    {
        "id": "6fda2ed140f4f369",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "lastGridChargePrice",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1040,
        "wires": [
            [
                "55eefafcbf61d1ac"
            ]
        ]
    },
    {
        "id": "e594e759c085e00b",
        "type": "@iseeberg79/EvaluateSolarForecast",
        "z": "ec1d395861064d7f",
        "name": "",
        "rooftopid": "",
        "token": "",
        "url": "",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "9ee2ab254e30dffe"
            ]
        ]
    },
    {
        "id": "fbf644e9c08d4914",
        "type": "@iseeberg79/EstimateSolarEnergy",
        "z": "ec1d395861064d7f",
        "name": "",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "f7a57ba9ea0f2101"
            ]
        ]
    },
    {
        "id": "5234a24bc61cc724",
        "type": "@iseeberg79/EvaluateGridEnergyPrices",
        "z": "ec1d395861064d7f",
        "name": "",
        "bzn": "DE-LU",
        "url": "https://api.energy-charts.info/price",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "d908f798e42944fb"
            ]
        ]
    },
    {
        "id": "0b20e06a17ba2313",
        "type": "@iseeberg79/EvaluateGridEnergyPricesAPI",
        "z": "ec1d395861064d7f",
        "name": "",
        "url": "http://localhost:7070/api/tariff/grid",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "f78ba4dee6dcd2b7"
            ]
        ]
    },
    {
        "id": "e01e4d7655508ff5",
        "type": "@iseeberg79/EstimateHouseholdConsumption",
        "z": "ec1d395861064d7f",
        "name": "",
        "x": 400,
        "y": 600,
        "wires": [
            [
                "3ca363df5cec6a9a"
            ]
        ]
    },
    {
        "id": "c9bd6d4e68380399",
        "type": "@iseeberg79/DetermineControlMode",
        "z": "ec1d395861064d7f",
        "name": "",
        "minPvRequired": "10000",
        "minPriceDeviation": "",
        "minPriceDifference": "",
        "priceLimit": "",
        "avg": "",
        "x": 490,
        "y": 700,
        "wires": [
            [
                "c4a5c0cda359e825"
            ]
        ]
    },
    {
        "id": "5c0a2ccb59ef0f7f",
        "type": "@iseeberg79/DetermineBatteryMode",
        "z": "ec1d395861064d7f",
        "name": "",
        "enableGridchargeThreshold": "",
        "disableGridchargeThreshold": "",
        "batteryCapacity": "",
        "minsoc": "",
        "maxsoc": "",
        "efficiency": "",
        "x": 370,
        "y": 840,
        "wires": [
            [
                "cbd697b9f5894bb9"
            ],
            [
                "bd0d8817f7ed08fc"
            ],
            [
                "185d656bbdbe5ce8"
            ]
        ]
    },
    {
        "id": "fe2e1d65dec418f4",
        "type": "@iseeberg79/ControlBattery",
        "z": "ec1d395861064d7f",
        "name": "",
        "configuredMinSoC": "",
        "maximumGridprice": "",
        "configuredBatteryLock": false,
        "x": 340,
        "y": 980,
        "wires": [
            [
                "cca1ee52a50453ce"
            ],
            [
                "fc63df2a739b4d48"
            ],
            [
                "6fda2ed140f4f369"
            ],
            [
                "43507a25391454e7"
            ]
        ]
    },
    {
        "id": "86a211820c2d1f10",
        "type": "@iseeberg79/DeterminePowerValues",
        "z": "ec1d395861064d7f",
        "name": "",
        "url": "http://localhost:7070/api/state",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "2c343359261abd9f"
            ]
        ]
    },
    {
        "id": "7560963e91850164",
        "type": "@iseeberg79/EvaluateSolarForecast",
        "z": "ec1d395861064d7f",
        "name": "",
        "rooftopid": "",
        "token": "",
        "url": "",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "015a88698cf80307"
            ]
        ]
    },
    {
        "id": "015a88698cf80307",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "pvForecast2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "pvForecast2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 200,
        "wires": [
            [
                "58cd324f4e333c0a"
            ]
        ]
    },
    {
        "id": "c64c402c24b062fe",
        "type": "@iseeberg79/EstimateSolarEnergy",
        "z": "ec1d395861064d7f",
        "name": "",
        "x": 420,
        "y": 300,
        "wires": [
            [
                "a5c1eb08187cd0e4"
            ]
        ]
    },
    {
        "id": "6c041c6c5cd2159d",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "payload": "pvForecast2",
        "payloadType": "global",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "c64c402c24b062fe"
            ]
        ]
    },
    {
        "id": "a5c1eb08187cd0e4",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "pvForecast2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 300,
        "wires": [
            [
                "58cd324f4e333c0a"
            ]
        ]
    },
    {
        "id": "58cd324f4e333c0a",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "summieren",
        "rules": [
            {
                "t": "set",
                "p": "pv1",
                "pt": "msg",
                "to": "pvForecast1",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "pv2",
                "pt": "msg",
                "to": "pvForecast2",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"today\": pv1.today + pv2.today, \"tomorrow\": pv1.tomorrow + pv2.tomorrow, \"remain\": pv1.remain + pv2.remain }",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "pvForecast",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "energy.pvforecast",
                "pt": "global",
                "to": "pvForecast2.forecasts",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 300,
        "wires": [
            [
                "fd6084fd9c1a78bb"
            ]
        ]
    },
    {
        "id": "fd6084fd9c1a78bb",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 1060,
        "y": 300,
        "wires": []
    },
    {
        "id": "2ef70dc2ccc8c99c",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "Maximum",
        "rules": [
            {
                "t": "set",
                "p": "tomorrow",
                "pt": "msg",
                "to": "pvForecast.tomorrow",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "today",
                "pt": "msg",
                "to": "pvforecast",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "pvforecast",
                "pt": "msg",
                "to": "$max([$number(today),$number(tomorrow)])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 700,
        "wires": [
            [
                "c9bd6d4e68380399"
            ]
        ]
    },
    {
        "id": "c9a5ede43852e54e",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "avgGridPriceWeekly",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1300,
        "wires": [
            [
                "07ac307ca42ff0b4"
            ]
        ]
    },
    {
        "id": "07ac307ca42ff0b4",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 1020,
        "y": 1300,
        "wires": []
    },
    {
        "id": "5b8a657a5cc6dbf8",
        "type": "ioBroker in",
        "z": "ec1d395861064d7f",
        "name": "price_avg_weekly",
        "attrname": "payload",
        "topic": "alias.0.energy.grid.price_avg_weekly",
        "payloadType": "value",
        "onlyack": "",
        "func": "rbe-preinitvalue",
        "gap": "",
        "fireOnStart": "false",
        "outFormat": "MQTT",
        "x": 560,
        "y": 1330,
        "wires": [
            [
                "ef666ed377a494af"
            ]
        ]
    },
    {
        "id": "f3853287e700f386",
        "type": "ioBroker get",
        "z": "ec1d395861064d7f",
        "name": "",
        "topic": "alias.0.energy.grid.price_avg_weekly",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 500,
        "y": 1290,
        "wires": [
            [
                "ef666ed377a494af"
            ]
        ]
    },
    {
        "id": "38ef5aceb9797210",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1240,
        "wires": [
            [
                "c3bcfb6672483096"
            ]
        ]
    },
    {
        "id": "c3bcfb6672483096",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "initialisieren",
        "rules": [
            {
                "t": "set",
                "p": "lastGridchargePrice",
                "pt": "flow",
                "to": "0.095",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "lastMessage",
                "pt": "flow",
                "to": "initial",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "batteryModeTS",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1240,
        "wires": [
            [
                "f3853287e700f386",
                "1bf85817badf884f"
            ]
        ]
    },
    {
        "id": "ef666ed377a494af",
        "type": "json",
        "z": "ec1d395861064d7f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 750,
        "y": 1300,
        "wires": [
            [
                "c9a5ede43852e54e"
            ]
        ]
    },
    {
        "id": "1bf85817badf884f",
        "type": "ioBroker get",
        "z": "ec1d395861064d7f",
        "name": "",
        "topic": "alias.0.energy.battery.minsoc",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 530,
        "y": 1240,
        "wires": [
            [
                "5dd11b43cf34ff12"
            ]
        ]
    },
    {
        "id": "5dd11b43cf34ff12",
        "type": "json",
        "z": "ec1d395861064d7f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 750,
        "y": 1240,
        "wires": [
            [
                "e92586b7987444b1"
            ]
        ]
    },
    {
        "id": "e92586b7987444b1",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "minsoc",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1240,
        "wires": [
            [
                "70e233125e6e09e2"
            ]
        ]
    },
    {
        "id": "8078a07acd8728ee",
        "type": "ioBroker in",
        "z": "ec1d395861064d7f",
        "name": "",
        "attrname": "payload",
        "topic": "alias.0.energy.battery.minsoc",
        "payloadType": "value",
        "onlyack": "",
        "func": "rbe-preinitvalue",
        "gap": "",
        "fireOnStart": "false",
        "outFormat": "MQTT",
        "x": 530,
        "y": 1190,
        "wires": [
            [
                "5dd11b43cf34ff12"
            ]
        ]
    },
    {
        "id": "70e233125e6e09e2",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 1020,
        "y": 1240,
        "wires": []
    },
    {
        "id": "43cf98b13cdb48f0",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "14 Uhr",
        "props": [
            {
                "p": "average",
                "v": "gridPrices.average",
                "vt": "flow"
            },
            {
                "p": "diff",
                "v": "gridPrices.diff",
                "vt": "flow"
            },
            {
                "p": "deviation",
                "v": "gridPrices.deviation",
                "vt": "flow"
            },
            {
                "p": "pvforecast",
                "v": "pvForecast.today",
                "vt": "flow"
            },
            {
                "p": "avgWeekly",
                "v": "avgGridPriceWeekly",
                "vt": "flow"
            },
            {
                "p": "priceLimit",
                "v": "lastGridChargePrice",
                "vt": "flow"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 14 * * *",
        "once": false,
        "onceDelay": "20",
        "topic": "",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "2ef70dc2ccc8c99c"
            ]
        ]
    },
    {
        "id": "4ffc70bcef0aff59",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "force charge",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1500,
        "wires": [
            [
                "2f13328d3d3a7fac"
            ]
        ]
    },
    {
        "id": "2f13328d3d3a7fac",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "control",
                "pt": "flow",
                "to": "{\"optimize\":true,\"gridcharge\":true,\"mode\":\"GRID\"}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "eb9bc9f973090a31",
        "type": "function",
        "z": "ec1d395861064d7f",
        "name": "transformieren",
        "func": "const startTimestamp = (new Date()).setHours(0,0,0,0);\nconst interval = 60 * 60 * 1000;\n\n// Transformation priceData\nconst transformPriceData = (data) => {\n    return data.map(item => ({\n        value: item.price,\n        start: item.start,\n        exportPrice: 0.079, // Bei Bedarf anpassen\n        importPrice: item.price\n    }));\n};\n\n// Transformation productionForecast\nconst transformProductionForecast = (data) => {\n    return data.map(item => ({\n        start: item.period_end,\n        value: item.pv_estimate\n    }));\n};\n\n// Transformation consumptionForecast\nconst transformConsumptionForecast = (data, startTimestamp, interval) => {\n    return data.map((value, index) => ({\n        start: (new Date(startTimestamp + index * interval)).toISOString(),\n        value: value\n    }));\n};\n\nconst priceData = msg.input.priceData;\nconst productionForecast = msg.input.pvforecast;\nconst consumptionForecast = msg.input.household;\n\nconst transformedData = {\n    priceData: transformPriceData(priceData),\n    productionForecast: transformProductionForecast(productionForecast),\n    consumptionForecast: transformConsumptionForecast(consumptionForecast, startTimestamp, interval),\n    soc: msg.input.soc\n};\n\ndelete msg.input;\n\nmsg.payload = transformedData;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1400,
        "wires": [
            [
                "d6c83a05ca88f0ef"
            ]
        ]
    },
    {
        "id": "d6c83a05ca88f0ef",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "energy",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1400,
        "wires": [
            [
                "aa2a5706068de4bc"
            ]
        ]
    },
    {
        "id": "9b46559b1f0c2cbc",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "energy",
        "payloadType": "flow",
        "x": 490,
        "y": 1440,
        "wires": [
            [
                "aa2a5706068de4bc"
            ]
        ]
    },
    {
        "id": "aa2a5706068de4bc",
        "type": "@iseeberg79/EstimateBatterymode",
        "z": "ec1d395861064d7f",
        "name": "",
        "batteryBuffer": "",
        "batteryCapacity": "",
        "maxCharge": "",
        "feedin": "",
        "efficiency": "",
        "performance": "",
        "x": 700,
        "y": 1400,
        "wires": [
            [
                "d7c22e3c89524bf3"
            ]
        ]
    },
    {
        "id": "d7c22e3c89524bf3",
        "type": "change",
        "z": "ec1d395861064d7f",
        "name": "speichern",
        "rules": [
            {
                "t": "set",
                "p": "calculatedEnergyFlow",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "estimator",
                "pt": "flow",
                "to": "payload.batteryModes",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1400,
        "wires": [
            [
                "1fce251c878d0e25"
            ]
        ]
    },
    {
        "id": "1fce251c878d0e25",
        "type": "debug",
        "z": "ec1d395861064d7f",
        "name": "Ergebnis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 1020,
        "y": 1400,
        "wires": []
    },
    {
        "id": "7511cf026ef5e9db",
        "type": "inject",
        "z": "ec1d395861064d7f",
        "name": "Bereitstellung",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "input.household",
                "v": "energy.household",
                "vt": "global"
            },
            {
                "p": "input.priceData",
                "v": "energy.priceData",
                "vt": "global"
            },
            {
                "p": "input.pvforecast",
                "v": "energy.pvforecast",
                "vt": "global"
            },
            {
                "p": "input.soc",
                "v": "energy.soc",
                "vt": "global"
            },
            {
                "p": "debug",
                "v": "false",
                "vt": "bool"
            },
            {
                "p": "charge",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "35",
        "topic": "",
        "x": 140,
        "y": 1400,
        "wires": [
            [
                "eb9bc9f973090a31"
            ]
        ]
    }
]